@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Amenti";
  src: url("/fonts/Amenti-VF.ttf");
}
:root {
  --Amarillo: #b78b67;
}

.helvetica {
  font-family: "Helvetica", sans-serif;
}
.amenti {
  font-family: "Amenti", sans-serif;
}
.onBoarding h1 {
  @apply text-white uppercase mb-8 text-center;
}
.letterSpacing {
  @apply tracking-[0.3em];
}
.error {
  @apply flex-center-col;
}
.error h1,
.error p,
.error a {
  @apply letterSpacing text-[#3c3c3b] my-4 uppercase;
}
.absoluteCenter {
  @apply fixed top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%];
  @apply xl:w-[80%] xs:w-[80%] xl:h-[80%] xl:max-h-[874px] xs:h-[80%];
}
.absoluteCenterParrafos {
  @apply absolute top-1/2 left-1/2 z-50 translate-x-[-50%] translate-y-[-50%];
}
.absoluteImg {
  @apply absolute left-0 top-0;
}
.borderWhite {
  @apply rounded-3xl;
}
html {
  @apply w-screen h-screen;
}
.maxW {
  @apply max-w-[1550px];
}
.parrafoOnboarding {
  @apply text-center letterSpacing uppercase font-bold text-[#ffffff] leading-normal;
  @apply 2xl:text-4xl xl:text-2xl sm:text-sm xs:text-sm lg:w-4/5 xs:w-[70%];
}
body {
  @apply m-0 p-0 amenti box-content;
  @apply w-full h-full  overflow-hidden;
}
#root {
  @apply w-full h-full;
}
.flex-center {
  @apply flex items-center justify-center;
}
.flex-center-col {
  @apply flex flex-col items-center justify-center;
}

.flex-row-btwen {
  @apply flex items-center justify-between;
}
img,
svg {
  @apply w-full h-full object-cover;
}
.transicion {
  @apply transition-all ease-in-out duration-1000;
}
.transicion_200 {
  @apply transition-all ease-in-out duration-200;
}

.backdrop {
  @apply bg-black bg-opacity-30 backdrop-blur-sm;
}
.camposFecha {
  @apply w-[180px] mb-4 opacity-50 flex-row-btwen;
}
.camposFecha input {
  @apply backdrop  mb-4 w-1/5 p-3 2xl:h-14 xs:h-12 border-b border-white text-white;
}
.btn {
  @apply transicion_200 pl-3 backdrop hover:bg-white hover:bg-opacity-70 border border-[--Amarillo] min-w-[180px] rounded-lg text-white hover:text-[#000000] uppercase py-2 letterSpacing;
  @apply 2xl:text-2xl xl:text-xl xs:text-sm font-normal m-4 translate-y-6;
}
.btn-cards {
  @apply text-white xl:text-lg sm:text-sm xs:text-xs w-fit;
  @apply transicion_200 px-6 bg-black bg-opacity-60 min-w-[180px] hover:bg-white text-white hover:text-[#000000] hover:bg-opacity-70  rounded-lg uppercase py-3 letterSpacing hover:shadow-none;
}
.btn-siguiente {
  @apply text-black bg-white hover:bg-black hover:text-white;
}
.gradiente {
  @apply bg-black bg-opacity-0 rounded-full;
  /* box-shadow: 0px 0px 15px 13px #00000015; */
}

.active span {
  @apply text-[--Amarillo];
}
.fechaIndividual {
  @apply lg:text-sm xs:text-[60%];
}
.active .fechaIndividual {
  @apply font-bold 2xl:text-3xl lg:text-2xl xs:text-sm;
}

.Line:before {
  content: "";
  width: 2px;
  display: inline-block;
  position: absolute;
  height: 100%;
  background: rgb(255 255 255 / 16%);
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
}
.LineFather:last-child .Line:before {
  display: none;
}

.col {
  @apply bg-lime-300 bg-opacity-30 mx-[6.35%];
}

/***************Inicio del sitio**************************/

.image-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.imagen {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 18s ease;
  opacity: 0;
}

.imagen.active {
  opacity: 1;
  transition: opacity 8s ease;
}
.nube {
  position: absolute;
  opacity: 0.4;
  top: 0;
  animation-duration: 100s; /* Duración de la animación para todas las nubes */
  animation-timing-function: ease-out; /* Transición suave al principio y al final */
  z-index: 10;
}

.nube1 {
  top: 15%;
  left: 1%; /* Posición inicial fuera del área visible */
  animation-name: mover-izquierda-derecha; /* Nombre de la animación para esta nube */
  animation-timing-function: ease;
  animation-duration: 1500s; /* Duración de la animación para esta nube */
  z-index: 10;
}

.nube2 {
  left: 60%; /* Posición inicial fuera del área visible */
  animation-name: mover-izquierda-derecha; /* Nombre de la animación para esta nube */
  animation-timing-function: ease;
  animation-duration: 900s; /* Duración de la animación para esta nube */
  z-index: 10;
}
.nube3 {
  top: 1%;
  left: 30%; /* Posición inicial fuera del área visible */
  animation-name: mover-izquierda-derecha; /* Nombre de la animación para esta nube */
  animation-timing-function: ease;
  animation-duration: 1000s; /* Duración de la animación para esta nube */
  z-index: 10;
}
.nube4 {
  top: 15%;
  left: 80%; /* Posición inicial fuera del área visible */
  animation-name: mover-izquierda-derecha; /* Nombre de la animación para esta nube */
  animation-timing-function: ease;
  animation-duration: 1800s; /* Duración de la animación para esta nube */
  z-index: 10;
}

@keyframes mover-izquierda-derecha {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(2000%);
  }
}

/***************Inicio del sitio**************************/

.contenedor-padre {
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease; /* Agrega una transición suave al movimiento */
}

.elementos,
.elemento {
  height: 100%;
  width: 100%;
}
.contenedor {
  height: 100%;
  width: 100%;
}

.visible {
  transform: translateY(
    -100%
  ); /* Mueve hacia arriba los elementos cuando el primero es visible */
}
@keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.line-loading {
  width: 100%; /* Esto debería ser el ancho total de la barra de carga */
  height: 100px; /* O la altura que desees */
  background-image: url("/lineaCarga-03.svg"); /* Ruta a tu imagen */
  background-repeat: repeat-x; /* Esto hará que la imagen se repita a lo largo del eje X */
  animation: slide 2s linear infinite; /* Ajusta la duración según sea necesario */
}
.claseAdicional {
  @apply text-white xl:text-lg sm:text-sm xs:text-xs w-fit;
  @apply transicion_200 px-6 bg-white bg-opacity-60 hover:bg-black text-[#000000] hover:text-white hover:bg-opacity-70  rounded-lg uppercase py-2 letterSpacing hover:shadow-none;
}

.btnWhite {
  @apply w-fit flex-center-col uppercase tracking-[0.3em] flex items-center justify-center font-normal px-5 py-3 text-center lg:text-2xl xs:text-xs rounded-lg hover:bg-black bg-white  transition-all ease-in-out duration-300 text-black hover:text-white;
}
.ocult .previw {
  @apply opacity-30;
}
.sho .previw {
  @apply opacity-100;
}

.play:hover path {
  @apply fill-black transition-all ease-in-out duration-300;
}
.slidesOnboarding {
  @apply max-xl:bottom-20 xs:w-12 xs:h-56 max-xl:right-0
  fixed xl:top-1/2 xl:left-1/2 xl:translate-x-[-50%] xl:translate-y-[-50%]
   xl:w-[80%] xl:h-[80%] xl:max-h-[874px];
}
