@tailwind base;
@tailwind components;
@tailwind utilities;

.BoxesTextStart {
  @apply overflow-hidden rounded-s-3xl relative bg-[#DDDDDD];
}
.BoxesImgEnd {
  @apply overflow-hidden bg-no-repeat bg-cover rounded-e-3xl  bg-[#DDDDDD];
}

.BoxesTextEnd {
  @apply overflow-hidden rounded-e-3xl relative bg-[#DDDDDD];
}
.BoxesImgStart {
  @apply overflow-hidden bg-no-repeat bg-cover rounded-s-3xl  bg-[#DDDDDD];
}

.bgvid {
  pointer-events: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: screen;
  z-index: 100;
}

.Moisesbgvid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 100;
}
.dosmilFrailejones img {
  @apply object-cover w-full h-full;
}
.punto {
  @apply absolute z-50  rounded-full bg-white;
}
.dosmilFrailejones .text {
  @apply w-[240px] absolute z-50 bg-black bg-opacity-60 font-medium text-white text-center text-lg rounded-lg py-2 px-3 border border-white;
}

.punto:before {
  content: "";
  animation: puntos 2s ease-in-out infinite;
  position: absolute;
  background: #00000042;
  border-radius: 50px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  z-index: 1;
}
.punto:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #ffffff;
  border-radius: 50px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.SegundoTextoDosmil span {
  @apply inline-block;
}

.travesia .cards {
  @apply absolute w-1/4 h-2/4  top-1/2 translate-y-[-70%] rounded-3xl overflow-hidden;
}
.travesia .cards.active {
  @apply w-full h-full left-0 top-0 translate-y-[0%] translate-x-[0%];
}
.cajaTitulos {
  @apply flex relative z-[4] p-[6%];
}
.titulo {
  @apply font-bold  text-3xl text-center w-full translate-y-[100%];
}
.titulo2 {
  @apply font-bold uppercase text-white text-2xl;
}
.bg-degradadoTravesia {
  @apply opacity-0 pointer-events-none bg-gradient-to-t from-[#2A1100d4] via-transparent to-[#020a47d6] bg-opacity-0;
}

.parrafo {
  @apply text-white max-w-[700px] hidden opacity-0 text-2xl;
}
.cajaIconos .subtitulo {
  @apply w-52 text-white font-normal text-xl text-center;
}
.cajaIconos .svgIcono {
  @apply ml-8 flex items-center flex-col justify-between opacity-0;
}
.svgIcono .icono {
  @apply w-28 flex justify-center;
}
.travesia .punto {
  @apply cursor-pointer;
}
@keyframes puntos {
  0% {
    opacity: 0;
    width: 80%;
    height: 80%;
  }
  50% {
    opacity: 1;
  }
  to {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
